body {
  background: linear-gradient(to bottom right, #c04848, #480048);
  height: 100vh;
  overflow: hidden;
}

.full-height {
  height: 100%;
}

.trained-on-panel {
  text-align: left;
}

.trained-ost-wrap {
  font-size: 2rem;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.trained-ost-wrap .midi-player {
  width: 15%;
  height: 100px;
}

.trained-ost-wrap midi-player::part(control-panel) {
  background: transparent;
  display:block;
  width:auto;
}
.trained-ost-wrap midi-player::part(play-button) {
  color: rgb(33, 43, 133);
  border: 2px solid currentColor;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  transition: all 0.2s;
  content: "hello";
}
.trained-ost-wrap midi-player::part(play-button):hover {
  color: rgb(0, 26, 255);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.trained-ost-wrap midi-player::part(time) {
  font-size:13px;
  font-family: monospace;
}
.trained-ost-wrap midi-player::part(seek-bar) {
  display: none;
}

.panel-section-title {
  text-align: center;
  font-size: 4rem;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.panel-section-list {
  text-align: center;
  font-size: 2rem;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  list-style: none;
}
