{% extends "layout.html" %} {% block content %}
<div class="container-ost full-height">
  <div>
    <button class="battle-button-trigger">Battle</button>
    <button class="buildings-button-trigger">Building</button>
    <button class="route-button-trigger">Route</button>
  </div>

  <div class="full-height" class="container-song" id="container-song-battle">
    <div class="full-height row">
      <div class="col-md-4 trained-on-panel full-height">
        <div class="panel-section-title">Trained on :</div>
        {% for i in range(0, url_train_battle|length) %}
        <div class="trained-ost-wrap">
          <p>{{ title_train_battle[i] }}</p>
          <midi-player
            class="midi-player"
            src="{{ url_for('static', filename=url_train_battle[i]) }}"
          >
          </midi-player>
        </div>
        {% endfor %}
      </div>
      <div class="col-md-4 song-player-panel full-height">
        <midi-player
          class="midi-player"
          src="{{ url_for('static', filename=result_battle) }}"
        >
        </midi-player>
      </div>
      <div class="col-md-4 model-layer-panel full-height">
        <div class="panel-section-title">Model Layers :</div>

        <ul class="panel-section-list">
          <li>Bidirectional Gated recurrent units (GRU)</li>
          <li>Dense (Dropout = 0.2)</li>
          <li>Bidirectional Gated recurrent units (GRU)</li>
          <li>Dense (Dropout = number of notes)</li>
          <li>Softmax Activation</li>
          <li>Loss : Categorical Crossentropy</li>
          <li>Optimizer : Adam</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
