<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Predict Stock Price</title>

    <!-- Feuille de style de l'application -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- JQuery -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <link rel="icon" href="{{ url_for('static', filename='img/crypto_logo.png') }}">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <h1>Crypto Currency Price Prediction</h1>
                <h2>{{ date }}</h2>
                <form method="POST" action="{{ url_for('load_currency') }}">
                    <label for="crypto">Choose a cryptocurrency :</label>
                    <br>
                    <select id="crypto" name="crypto">
                        {% for o in crypto %}
                        {% if o.selected %}
                        <option value="{{ o.crypto }}" selected>{{ o.crypto }}</option>
                        {% else %}
                        <option value="{{ o.crypto }}">{{ o.crypto }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <select id="currency" name="currency">
                        {% for o in currency %}
                        {% if o.selected %}
                        <option value="{{ o.currency }}" selected>{{ o.currency }}</option>
                        {% else %}
                        <option value="{{ o.currency }}">{{ o.currency }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Submit">
                  </form>

                <h3>Description</h3>
                <p>{{ desc }}</p>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>

</html>