
.react-h5-audio-player {
    .toggle-play-wrapper {
      .toggle-play-button {
        // Remember to use !important to overwrite inline styles.
        background-color: red !important;
      }
    }
  }
  
.react-h5-audio-player {
    .flex {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      .toggle-play-wrapper {
        flex: 1 0 60px;
        -webkit-box-flex: 1 0 60px;
        -moz-box-flex: 1 0 60px;
        -ms-flex: 1 0 60px;
      }
      .progress-bar-wrapper {
        flex: 10 0 auto;
        -webkit-box-flex: 10 0 auto;
        -moz-box-flex: 10 0 auto;
        -ms-flex: 10 0 auto;
      }
    }
  }